.purple-background {
  background-color: #562b81;
}

.gray-background {
  background-color: #f0f0f0;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding-top: 8px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  font-size: 16px;
  outline-color: #562b81;
}

.code-journal-header {
  color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  display: inline-block;
}

.new-entry-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

label {
  font-weight: bolder;
  display: block;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
  outline-color: #562b81;
}

.text-align-end {
  text-align: end;
}

.submit-button {
  background-color: #562b81;
  color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.new-button {
  background-color: #562b81;
  margin-top: 25px;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: transparent;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
}

.entries-header {
  display: inline;
  color: #f0f0f0;
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.as-center {
  align-self: center;
}

.relative {
  position: relative;
}

i {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #562b81;
  font-size: 25px;
  cursor: pointer;
}
