.purple-background {
  background-color: #562b81;
}

.gray-background {
  background-color: #f0f0f0;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding-top: 8px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  font-size: 16px;
  outline-color: #562b81;
}

.code-journal-header {
  color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 22px;
  display: inline-block;
}

.new-entry-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

label {
  font-weight: bolder;
  display: block;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
  outline-color: #562b81;
}

.text-align-end {
  text-align: end;
}

.submit-button {
  background-color: #562b81;
  color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.new-button {
  background-color: #562b81;
  margin-top: 25px;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: transparent;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 16px;
}

.entries-header {
  display: inline;
  color: #f0f0f0;
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.as-center {
  align-self: center;
}

.relative {
  position: relative;
}

i {
  position: absolute;
  right: 10px;
  top: 25px;
  color: #562b81;
  font-size: 25px;
  cursor: pointer;
}

a.delete-button {
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  position: absolute;
  left: 0;
  top: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 80%);
  z-index: 1;
}

.unhidden {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  height: 125px;
  width: 375px;
  padding-left: 10px;
  padding-right: 10px;
}

.confirm-button {
  color: white;
  background-color: #eb5d5d;
  padding: 5px 15px;
  border-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 2px #d4d4d4;
  cursor: pointer;
  margin-top: 20px;
}

.cancel-button {
  background-color: #b6b6b6;
  color: #2a2a2a;
  padding: 5px 15px;
  border-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 20px;
  box-shadow: 0 2px #d4d4d4;
}

.modal-text-format {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}
